# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# === Flutter & Dart specifics ===
.packages
build/
.flutter-versions

# === VS Code ===
.vscode/

# === Android ===
android/.gradle/
android/captures/

# === iOS (au cas où tu ajoutes le support plus tard) ===
ios/Flutter/.last_build_id
ios/.symlinks/
ios/Pods/
ios/.flutter-plugins
ios/.flutter-plugins-dependencies
ios/.generated/

# === Logs ===
*.hprof

# Ignorer les anciens APK et les archives HTML/Dart
# Ignorer les anciens APK et les archives HTML
apk/app-release_*.apk
archives/
lib/**/_archives/

# Firebase Functions (Node.js)
functions/node_modules/
